@{ Layout = "_AdminLayout"; }
@model List<Room>

    <div class="pb-2">
        <a class="btn btn-outline-primary" role="button" asp-controller="Admin" asp-action="CreateRoom">Добавить комнату</a>
    </div>
    
<table class="table"> 
    <tr>
       
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
            Номер
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.DepartmentSort">
            Стоимость
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.DepartmentSort">
            Вместимость 
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.WageSort">
            Тип
            </a>
        </th>
    </tr>

    @foreach (Room room in Model)
     {
        <tr>
            <td>@room.Number</td>
            <td>@room.Cost</td>
            <td>@room.Сapacity</td>
            <td>@room.Type
            <td>
                <a class="btn btn-warning btn-sm rounded-0" asp-action="Room" asp-controller="Admin" asp-route-id="@room.Id">Подробнее</a>

                <a class="btn btn-danger btn-sm rounded-0" asp-action="DeleteRoom" asp-controller="Admin" asp-route-id="@room.Id">Удалить</a>
            </td>
        </tr>
     }
</table>