
@model List<Hostel.BusinessLogic.Models.RoomBl>


    <div class="wizzard reservation-1">
        <div class="container-fluid reservation_last_step_container">
            <div class="container">
                <div class="row reservation-top">
                    <div class="module __reservation">
                        <div class="module-block">
                            <form asp-action="DashboardRoom" asp-controller="BookingRoom" method="get" class="form-planner form-horizontal">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="form-group">

                                            <div class="form-group">
                                                <label>Check in</label>
                                                <input class="form-control __plannerInput" id="leftDate" type="text" placeholder="10-05-2015" value="@ViewBag.left" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Check out</label>
                                                <input class="form-control __plannerInput" id="rightDate" type="text" placeholder="17-05-2015" value="@ViewBag.right" />
                                            </div>
                                        </div>
                                        @*<div class="col-md-2 col-xs-6">
                                                                            <div class="form-group">
                                                                                <label>Adults</label>
                                                                                <div class="theme-select">
                                                                                    <select class="form-control __plannerSelect">
                                                                                        <option value="">1</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                        <a href="C:\Users\Kirill\Source\Repos\HostelProject\Hostel.Web\Views\BookingRoom\SelectRoom.cshtml">C:\Users\Kirill\Source\Repos\HostelProject\Hostel.Web\Views\BookingRoom\SelectRoom.cshtml</a>
                                                                        </div>
                                                                        <div class="col-md-2 col-xs-6">
                                                                            <div class="form-group">
                                                                                <label>Kids</label>
                                                                                <div class="theme-select">
                                                                                    <select class="form-control __plannerSelect">
                                                                                        <option value="">1</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>*@
                                        <div class="col-md-2 col-xs-12">

                                            <div class="form-group">
                                                <input type="submit" value="Отправить" class="btn btn-default wizzard-search-btn" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container reservation-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="wizzard-list">
                        <h3 class="h3">Available rooms on specified date</h3>
                        <ul class="row best-room_ul">
                            @foreach (Hostel.BusinessLogic.Models.RoomBl room in Model)
                            {

                                <li class="col-md-4 col-sm-6 col-xs-12 best-room_li">
                                    <div class="best-room_img">
                                        <a href="#"><img src="assets/images/best-rooms/1.jpg" alt="" /></a>
                                        <div class="best-room_overlay">
                                            <div class="overlay_btn"><a class="btn btn-default" href="wizzard-step2.html">Select</a></div>
                                        </div>
                                    </div>
                                    <div class="best-room-info">
                                        <div class="best-room_t">
                                            <a asp-controller="Room" asp-action="RoomDetails" asp-route-id="@room.Id">@room.Type</a>
                                        </div>
                                        <div class="best-room_desc">@room.Description</div>
                                        <div class="best-room_price">
                                            <span>@room.Cost BYN / Сутки</span>
                                        </div>
                                        <div class="wizzard_footer">
                                            <div class="footer_el __bed"><i class="fa fa-bed"></i> @room.Сapacity</div>
                                            <div class="footer_el __ppl"><i class="fa fa-user"></i> @(room.Сapacity+2)</div>
                                            <div class="footer_el __wifi">@room.Type</div>
                                            <div class="footer_el __area">@room.Number</div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>

                            }
                        </ul>
                        @*<nav class="text-center">
                            <ul class="pagination">
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </nav>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
                    

