@{ Layout = "_AdminLayout"; }
@model List<Client>


@foreach (var handling in Model)
{
    @*<p>@handling.Id</p>
    <p>@handling.IdClient</p>
    <p>@handling.InCheck</p>
    <p>@handling.OutCheck</p>*@
    <p>@handling.Id</p>
    <p>@handling.LastName</p>
}