@model RoomViewModel

<section class="room-detail">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-12 marg50"><h2 class="h2">@Model.Number</h2></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="owl-carousel owl_gallery">
                    <div class="item"><img class="img-responsive" src="~/images/gallery/3.jpg"></div>
                    <div class="item"><img class="img-responsive" src="~/images/gallery/2.jpg"></div>
                    <div class="item"><img class="img-responsive" src="~/images/gallery/1.jpg"></div>
                    <div class="item"><img class="img-responsive" src="~/images/gallery/4.jpg"></div>
                    <div class="item"><img class="img-responsive" src="~/images/gallery/5.jpg"></div>
                    <div class="item"><img class="img-responsive" src="~/images/gallery/6.jpg"></div>
                    <div class="item"><img class="img-responsive" src="~/images/gallery/7.jpg"></div>
                    <div class="item"><img class="img-responsive" src="~/images/gallery/8.jpg"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="room-detail_overview">
                    <table class="simple">
                        <tr>
                            <td><strong>Cтоимость:</strong></td>
                            <td><span>@Model.Cost</span> /  сутки</td>
                        </tr>

                        <tr>
                            <td><strong>Количество кроватей</strong></td>
                            <td>@Model.Bed </td>
                        </tr>
                        <tr>
                            <td><strong>Вместимотсь</strong></td>
                            <td>@Model.Сapacity</td>
                        </tr>
                        <tr>
                            <td><strong>Тип :</strong></td>
                            <td>@Model.Type</td>
                        </tr>
                        <tr>
                            <td><strong>Душь</strong></td>
                            <td>@(Model.Shower == true ? "+" : "-")</td>
                        </tr>
                        <tr>
                            <td><strong>Туалет:</strong></td>
                            <td>@(Model.Restroom == true ? "+" : "-")</td>
                        </tr>
                        <tr>
                            <td><strong>Wifi:</strong></td>
                            <td>@(Model.Restroom == true ? "+" : "-")</td>
                        </tr>
                        <tr>
                            <td><strong>Холодильние:</strong></td>
                            <td>@(Model.Fridge == true ? "+" : "-")</td>
                        </tr>
                        <tr>
                            <td><strong>Телевизор:</strong></td>
                            <td>@(Model.Tv == true ? "+" : "-")</td>
                        </tr>
                        <tr>
                            <td><strong>Холодильние:</strong></td>
                            <td>@(Model.Fridge == true ? "+" : "-")</td>
                        </tr>
                        <tr>
                            <td><strong>Описание:</strong></td>
                            <td>@Model.Description</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>